@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px

;
}
body {
    background-color: aqua;
    font: normal 19pt arial;
    text-align: center;
    

}
header {
    padding: 50px;
    margin-bottom: 40px;
    background-color: black;
    color: yellowgreen;
    

}
section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 10px black;
    padding: 15px;
    width: 500px;
    height: 400px;
    margin: auto;
}

div {
    padding-top: 65px;
}


footer {
    margin: 30px;
    color: black;
    padding: 3px;
    font-style: italic;
    

}